<div class="team-container container visually-hidden" data-modal>
  <button class="team__modal-button" type="button" data-modal-close>
    <svg class="team__modal-icon">
      <use class="team__icon-use" href="./images/symbol-defs.svg#icon-close-button"></use>
    </svg>
  </button>

  <form class="team__modal-form">
    <h2 class="team__modal-title">Our team</h2>
    <ul class="team__modal-list list">
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/volodymyr-deskctop.webp      1x,
              ./images/team/volodymyr-deskctop@1.5x.webp 1.5x,
              ./images/team/volodymyr-desktop@2x.webp    2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/volodymyr-tablet.webp      1x,
              ./images/team/volodymyr-tablet@1.5x.webp 1.5x,
              ./images/team/volodymyr-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/volodymyr-mobile.webp      1x,
              ./images/team/volodymyr-mobile@1.5x.webp 1.5x,
              ./images/team/volodymyr-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/volodymyr-desktop.jpg       1x,
              ./images/team/volodymyr-deskctop@1.5x.jpg 1.5x,
              ./images/team/volodymyr-desktop@2x.jpg    2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/volodymyr-tablet.jpg      1x,
              ./images/team/volodymyr-tablet@1.5x.jpg 1.5x,
              ./images/team/volodymyr-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/volodymyr-mobile.jpg      1x,
              ./images/team/volodymyr-mobile@1.5x.jpg 1.5x,
              ./images/team/volodymyr-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
        <div class="team__ovarlay-wrapper ">
          <ul class="team__social-list list">
            <a class="team__social-link link" href="#">
            <li class="team__social-item">
              <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-linkedin"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="https://t.me/MamayUkr">
            <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-telegram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="#">
            <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-instagram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="https://github.com/vtyshchenko">
              <li class="team__social-item">
                  <svg class="team__social-icon">
                    <use href="./images/social/social-sp.svg#icon-github"></use>
                  </svg>
                </li>
              </a>
              </ul>
        </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Volodymyr</h3>
          <h3 class="team__name"> Tyshchenko</h3>
          <p class="team__description" lang="en">Position: Team lead</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-s-desktop.webp      1x,
              ./images/team/vitaliy-s-desktop@1.5x.webp 1.5x,
              ./images/team/vitaliy-s-desktop@2x.webp   2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-s-tablet.webp      1x,
              ./images/team/vitaliy-s-tablet@1.5x.webp 1.5x,
              ./images/team/vitaliy-s-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-s-mobile.webp      1x,
              ./images/team/vitaliy-s-mobile@1.5x.webp 1.5x,
              ./images/team/vitaliy-s-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/vitaliy-s-desktop.jpg      1x,
              ./images/team/vitaliy-s-desktop@1.5x.jpg 1.5x,
              ./images/team/vitaliy-s-desktop@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/vitaliy-s-tablet.jpg      1x,
              ./images/team/vitaliy-s-tablet@1.5x.jpg 1.5x,
              ./images/team/vitaliy-s-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/vitaliy-s-mobile.jpg      1x,
              ./images/team/vitaliy-s-mobile@1.5x.jpg 1.5x,
              ./images/team/vitaliy-s-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
            <div class="team__ovarlay-wrapper ">
              <ul class="team__social-list list">
                <a class="team__social-link link" href="#">
                  <li class="team__social-item">
                    <svg class="team__social-icon">
                      <use href="./images/social/social-sp.svg#icon-linkedin"></use>
                    </svg>
                  </li>
                </a>
                <a class="team__social-link link" href="https://t.me/SemenenkoSVAT">
                  <li class="team__social-item">
                    <svg class="team__social-icon">
                      <use href="./images/social/social-sp.svg#icon-telegram"></use>
                    </svg>
                  </li>
                </a>
                <a class="team__social-link link" href="#">
                  <li class="team__social-item">
                    <svg class="team__social-icon">
                      <use href="./images/social/social-sp.svg#icon-instagram"></use>
                    </svg>
                  </li>
                </a>
                <a class="team__social-link link" href="https://github.com/barometer-js">
                  <li class="team__social-item">
                    <svg class="team__social-icon">
                      <use href="./images/social/social-sp.svg#icon-github"></use>
                    </svg>
                  </li>
                </a>
              </ul>
            </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Vitaliy</h3>
          <h3 class="team__name">Semenenko</h3>
          <p class="team__description" lang="en">Position: Scrum master</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-k-desktop.webp      1x,
              ./images/team/vitaliy-k-desktop@1.5x.webp 1.5x,
              ./images/team/vitaliy-k-desktop@2x.webp   2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-k-tablet.webp      1x,
              ./images/team/vitaliy-k-tablet@1.5x.webp 1.5x,
              ./images/team/vitaliy-k-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/vitaliy-k-mobile.webp      1x,
              ./images/team/vitaliy-k-mobile@1.5x.webp 1.5x,
              ./images/team/vitaliy-k-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/vitaliy-k-desktop.jpg      1x,
              ./images/team/vitaliy-k-desktop@1.5x.jpg 1.5x,
              ./images/team/vitaliy-k-desktop@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/vitaliy-k-tablet.jpg      1x,
              ./images/team/vitaliy-k-tablet@1.5x.jpg 1.5x,
              ./images/team/vitaliy-k-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/vitaliy-k-mobile.jpg      1x,
              ./images/team/vitaliy-k-mobile@1.5x.jpg 1.5x,
              ./images/team/vitaliy-k-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
          <div class="team__ovarlay-wrapper ">
            <ul class="team__social-list list">
              <a class="team__social-link link" href="#">
                <li class="team__social-item">
                  <svg class="team__social-icon">
                    <use href="./images/social/social-sp.svg#icon-linkedin"></use>
                  </svg>
                </li>
              </a>
              <a class="team__social-link link" href="https://t.me/LLCOOLJY">
                <li class="team__social-item">
                  <svg class="team__social-icon">
                    <use href="./images/social/social-sp.svg#icon-telegram"></use>
                  </svg>
                </li>
              </a>
              <a class="team__social-link link" href="https://instagram.com/__olecsandrovich__?utm_medium=copy_link">
                <li class="team__social-item">
                  <svg class="team__social-icon">
                    <use href="./images/social/social-sp.svg#icon-instagram"></use>
                  </svg>
                </li>
              </a>
              <a class="team__social-link link" href="https://github.com/Vitaliy-Karpenko529">
                <li class="team__social-item">
                  <svg class="team__social-icon">
                    <use href="./images/social/social-sp.svg#icon-github"></use>
                  </svg>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Vitaliy</h3>
          <h3 class="team__name">Karpenko</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/vika-desktop.webp      1x,
              ./images/team/vika-desktop@1.5x.webp 1.5x,
              ./images/team/vika-desktop@2x.webp   2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/vika-tablet.webp      1x,
              ./images/team/vika-tablet@1.5x.webp 1.5x,
              ./images/team/vika-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/vika-mobile.webp      1x,
              ./images/team/vika-mobile@1.5x.webp 1.5x,
              ./images/team/vika-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/vika-desktop.jpg      1x,
              ./images/team/vika-desktop@1.5x.jpg 1.5x,
              ./images/team/vika-desktop@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/vika-tablet.jpg      1x,
              ./images/team/vika-tablet@1.5x.jpg 1.5x,
              ./images/team/vika-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/vika-mobile.jpg      1x,
              ./images/team/vika-mobile@1.5x.jpg 1.5x,
              ./images/team/vika-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
      <div class="team__ovarlay-wrapper ">
        <ul class="team__social-list list">
          <a class="team__social-link link" href="#">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-linkedin"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://t.me/ViktoriiaPV">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-telegram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://instagram.com/toria_brown_">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-instagram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://github.com/ViktoriiaPavlenko">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-github"></use>
              </svg>
            </li>
          </a>
        </ul>
      </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Viktoriia</h3>
          <h3 class="team__name">Pavlenko</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/marina-desktop.webp     1x,
              ./images/team/marina-desktop@1.5.webp 1.5x,
              ./images/team/marina-desktop@2x.webp  2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/marina-tablet.webp      1x,
              ./images/team/marina-tablet@1.5x.webp 1.5x,
              ./images/team/marina-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/marina-mobile.webp      1x,
              ./images/team/marina-mobile@1.5x.webp 1.5x,
              ./images/team/marina-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/marina-desktop.jpg     1x,
              ./images/team/marina-desktop@1.5.jpg 1.5x,
              ./images/team/marina-desktop@2x.jpg  2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/marina-tablet.jpg      1x,
              ./images/team/marina-tablet@1.5x.jpg 1.5x,
              ./images/team/marina-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/marina-mobile.jpg      1x,
              ./images/team/marina-mobile@1.5x.jpg 1.5x,
              ./images/team/marina-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
      <div class="team__ovarlay-wrapper ">
        <ul class="team__social-list list">
          <a class="team__social-link link" href="#">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-linkedin"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://t.me/marine_jewelry">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-telegram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://instagram.com/marine_jewelry?utm_medium=copy_link">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-instagram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://github.com/marynaost">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-github"></use>
              </svg>
            </li>
          </a>
        </ul>
      </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Maryna</h3>
          <h3 class="team__name">Ostapliuk</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/emma-desktop.webp     1x,
              ./images/team/emma-desktop@1.5.webp 1.5x,
              ./images/team/emma-desktop@2x.webp  2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/emma-tablet.webp     1x,
              ./images/team/emma-tablet@1.5.webp 1.5x,
              ./images/team/emma-tablet@2x.webp  2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/emma-mobile.webp     1x,
              ./images/team/emma-mobile@1.5.webp 1.5x,
              ./images/team/emma-mobile@2x.webp  2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/emma-desktop.jpg     1x,
              ./images/team/emma-desktop@1.5.jpg 1.5x,
              ./images/team/emma-desktop@2x.jpg  2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/emma-tablet.jpg     1x,
              ./images/team/emma-tablet@1.5.jpg 1.5x,
              ./images/team/emma-tablet@2x.jpg  2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/emma-mobile.jpg     1x,
              ./images/team/emma-mobile@1.5.jpg 1.5x,
              ./images/team/emma-mobile@2x.jpg  2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
      <div class="team__ovarlay-wrapper ">
        <ul class="team__social-list list">
          <a class="team__social-link link" href="#">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-linkedin"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://t.me/emmavasylyk">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-telegram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://instagram.com/emma_vasylyk?utm_medium=copy_link">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-instagram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://github.com/emmavasylyk">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-github"></use>
              </svg>
            </li>
          </a>
        </ul>
      </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Emma</h3>
          <h3 class="team__name">Vasylyk</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/ihor-desktop.webp      1x,
              ./images/team/ihor-desktop@1.5x.webp 1.5x,
              ./images/team/ihor-desktop@2x.webp   2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/ihor-tablet.webp      1x,
              ./images/team/ihor-tablet@1.5x.webp 1.5x,
              ./images/team/ihor-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/ihor-mobile.webp      1x,
              ./images/team/ihor-mobile@1.5x.webp 1.5x,
              ./images/team/ihor-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/ihor-desktop.jpg      1x,
              ./images/team/ihor-desktop@1.5x.jpg 1.5x,
              ./images/team/ihor-desktop@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/ihor-tablet.jpg      1x,
              ./images/team/ihor-tablet@1.5x.jpg 1.5x,
              ./images/team/ihor-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/ihor-mobile.jpg      1x,
              ./images/team/ihor-mobile@1.5x.jpg 1.5x,
              ./images/team/ihor-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
        <div class="team__ovarlay-wrapper ">
          <ul class="team__social-list list">
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-linkedin"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="https://t.me/Dr_House69">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-telegram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-instagram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="https://github.com/Dr-House69">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-github"></use>
                </svg>
              </li>
            </a>
          </ul>
        </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Ihor</h3>
          <h3 class="team__name">Dombik</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
        <div class="team__photo-wrapper">
        <picture>
          <source
            media="(min-width: 1024px)"
            type="image/webp"
            srcset="
              ./images/team/dmitry-s-desktop.webp      1x,
              ./images/team/dmitry-s-desktop@1.5x.webp 1.5x,
              ./images/team/dmitry-s-desktop@2x.webp   2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              ./images/team/dmitry-s-tablet.webp      1x,
              ./images/team/dmitry-s-tablet@1.5x.webp 1.5x,
              ./images/team/dmitry-s-tablet@2x.webp   2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              ./images/team/dmitry-s-mobile.webp      1x,
              ./images/team/dmitry-s-mobile@1.5x.webp 1.5x,
              ./images/team/dmitry-s-mobile@2x.webp   2x
            "
          />

          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/team/dmitry-s-desktop.jpg      1x,
              ./images/team/dmitry-s-desktop@1.5x.jpg 1.5x,
              ./images/team/dmitry-s-desktop@2x.jpg   2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/dmitry-s-tablet.jpg      1x,
              ./images/team/dmitry-s-tablet@1.5x.jpg 1.5x,
              ./images/team/dmitry-s-tablet@2x.jpg   2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/dmitry-s-mobile.jpg      1x,
              ./images/team/dmitry-s-mobile@1.5x.jpg 1.5x,
              ./images/team/dmitry-s-mobile@2x.jpg   2x
            "
          />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
      <div class="team__ovarlay-wrapper ">
        <ul class="team__social-list list">
          <a class="team__social-link link" href="#">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-linkedin"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://t.me/s_dimon">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-telegram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://instagram.com/dmitriisichenko?utm_medium=copy_link">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-instagram"></use>
              </svg>
            </li>
          </a>
          <a class="team__social-link link" href="https://github.com/Dima-as">
            <li class="team__social-item">
              <svg class="team__social-icon">
                <use href="./images/social/social-sp.svg#icon-github"></use>
              </svg>
            </li>
          </a>
        </ul>
      </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Dmitry</h3>
          <h3 class="team__name">Sichenko</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
      <li class="team__modal-item">
                <div class="team__photo-wrapper">
        <picture>
          <source
           media="(min-width: 1024px)"
            type="image/webp"
             srcset="
             ./images/team/dmitriy-p-desktop.webp 1x,
              ./images/team/dmitriy-p-desktop@1.5x.webp 1.5x,
               ./images/team/dmitriy-p-desktop@2x.webp 2x"
                />
          <source
           media="(min-width: 768px)"
            type="image/webp"
             srcset="
             ./images/team/dmitriy-p-tablet.webp 1x,
              ./images/team/dmitriy-p-tablet@1.5x.webp 1.5x,
               ./images/team/dmitriy-p-tablet@2x.webp 2x"
                />
          <source
           media="(max-width: 767px)"
            type="image/webp"
             srcset="
             ./images/team/dmitriy-p-mobile.webp 1x,
              ./images/team/dmitriy-p-mobile@1.5x.webp 1.5x,
               ./images/team/dmitriy-p-mobile@2x.webp 2x"
                />

          <source
           media="(min-width: 1024px)"
            srcset="
            ./images/team/dmitriy-p-desktop.jpg 1x,
             ./images/team/dmitriy-p-desktop@1.5x.jpg 1.5x,
              ./images/team/dmitriy-p-desktop@2x.jpg 2x"
               />
          <source
           media="(min-width: 768px)"
            srcset="
            ./images/team/dmitriy-p-tablet.jpg 1x,
             ./images/team/dmitriy-p-tablet@1.5x.jpg 1.5x,
              ./images/team/dmitriy-p-tablet@2x.jpg 2x"
               />
          <source
           media="(max-width: 767px)"
            srcset="
            ./images/team/dmitriy-p-mobile.jpg 1x,
             ./images/team/dmitriy-p-mobile@1.5x.jpg 1.5x,
              ./images/team/dmitriy-p-mobile@2x.jpg 2x"
               />
          <img class="team__photo" src="#" alt="image of a person" />
        </picture>
        <div class="team__ovarlay-wrapper ">
          <ul class="team__social-list list">
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-linkedin"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-telegram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-instagram"></use>
                </svg>
              </li>
            </a>
            <a class="team__social-link link" href="#">
              <li class="team__social-item">
                <svg class="team__social-icon">
                  <use href="./images/social/social-sp.svg#icon-github"></use>
                </svg>
              </li>
            </a>
          </ul>
        </div>
        </div>
        <div class="team__information-wrapper">
          <h3 class="team__name">Dmitry</h3>
          <h3 class="team__name">Peresichan</h3>
          <p class="team__description" lang="en">Position: Developer</p>
        </div>
      </li>
    </ul>
  </form>
</div>
