<div class="team-modal-wrapper">
    <button class="team__modal__button" type="button" data-modal-close>
    <!-- <svg class="team__modal__icon">
        <use href="./images/close-btn.svg"></use>
    </svg> -->
    <svg class="team__modal__icon" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
    </svg>
</button>

<form class="team__modal__form">
    <h2 class="team__modal__title">Our team</h2>
    <div class="team__container">
        <ul class="team__modal__list">
            <li class="team__modal__item">
                <div class="team__photo__wrapper">
                    <picture>
                       <img class="photo-photo" src="./images/team/volodymyr.jpg" alt="">
                    </picture>
                </div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Volodymyr Tyshchenko</h3>
                    <p class="team__description"> Position: Team lead</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Vitaliy Semenenko</h3>
                    <p class="team__description"> Position: Scrum master</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Vitaliy Karpenko</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Viktoriia Pavlenko</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Maryna Ostapliuk</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Emma Vasylyk</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Ihor Dombik</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Dmitry Sichenko</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>
            <li>
                <div class="team__photo__wrapper"></div>
                <div class="team__information__wrapper">
                    <h3 class="team__name">Dmitry Peresichan</h3>
                    <p class="team__description"> Position: Developer</p>
                </div>
            </li>

        </ul>
    </div>
</form>

</div>