<div class="auth-wrapper visually-hidden" data-auth-modal>
  <form class="auth__form">
    <include src="./partials/button-close.html"></include>
    <p class="auth__title">Please enter user details:</p>

    <div class="auth__inputs">
      <label class="auth__group">
        <span class="auth__label" id="email-text">Mail</span>
        <span class="auth__input-group">
          <input
            id="user-email"
            class="auth__input-info"
            type="email"
            name="email"
            title="Enter mailbox"
            placeholder="example@mail.com"
            required
          />
          <svg class="auth__input-icon">
            <use href="./images/symbol-defs.svg#icon-email"></use>
          </svg>
        </span>
      </label>

      <!-- 
    At least 1 Uppercase
    At least 1 Lowercase
    At least 1 Number
    At least 1 Symbol, symbol allowed -- > !@#$%^&*_=+-
    Min 8 chars and Max 16 chars
    -->
      <label class="auth__group">
        <span class="auth__label" id="password-text">Password</span>
        <span class="auth__input-group">
          <input
            id="user-password"
            class="auth__input-info"
            type="password"
            name="password"
            title="Enter password"
            minlength="8"
            placeholder="Enter password"
            required
          />
          <svg class="auth__input-icon">
            <use href="./images/symbol-defs.svg#icon-password"></use>
          </svg>
        </span>
      </label>

      <label class="auth__group" id="auth-input-group-name">
        <span class="auth__label" id="name-text">Name</span>
        <span class="auth__input-group">
          <input
            id="user-name"
            class="auth__input-info"
            type="text"
            name="name"
            title="Please enter your name."
            placeholder="John Jonson"
            minlength="8"
          />
          <svg class="auth__input-icon">
            <use href="./images/symbol-defs.svg#icon-person"></use>
          </svg>
        </span>
      </label>

      <label class="auth__confirm">
        <input
          class="auth__confirm-checkbox visually-hidden"
          type="checkbox"
          name="confirm"
          checked
        />
        <span class="auth__checkbox-icon"></span>
        <span class="auth__confirm-conditions">Register a new user</span>
      </label>

      <div class="auth__button-group">
        <button class="button-submit" id="registration" type="submit">Sign up</button>
        <button class="button-submit button-submit-close" type="button" data-modal-close>
          Close
        </button>
      </div>
    </div>
  </form>
</div>
