<footer class="footer">
    <div class="footer-cont container">
        <div  class="footer-container__text">
            <p class="footer-cont__txt"> &#64 2019|All rights reserved|</p>
        </div>
        <div class="footer-cont__text">
            <p class="footer-cont__txt"> Developed with </p>
                <svg class="icon-heart" width="14" height="13">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
                </svg>
            <a class="footer-cont__txt link after"href="#" data-modal-open> by GoIT Students</a> 
        </div>
    </div>
</footer>
