<footer class="footer">
    <div class=" footer-cont container">
        <div  class="footer-container__text">
            <p class="footer-cont__txt"> @ 2019|All rights reserved|</p>
        </div>
        <div class="footer-cont__text">
            <p class="footer-cont__txt"> Developed with </p>
                <svg class="logo_heart">
                <use href="./src/images/heart.svg"></use>
                </svg>
            <p class="footer-cont__txt"> by GoIT Students</p> 
        </div>
    </div>
</footer>
