<!-- header -->
<header class="header header__home">

  <div class="container">
  <div class="theme-switch">
    <div class="languages">
     <ul class="languages__list list">
       <li class="languages__item">
         <a href="#" class="languages__link link" >
         <svg class="languages__icon" id="eng" width="14" height="14">
           <use href="./images/symbol-defs.svg#icon-us"></use>
         </svg>
         </a>
       </li>
       <li class="languages__item">
         <a href="#" class="languages__link" >
         <svg class="languages__icon" id="ukr" width="14" height="14">
           <use href="./images/symbol-defs.svg#icon-ua"></use>
         </svg>
         </a>
       </li>
       </ul>
   </div>
    <button  type="button" class="nav__btn btn-login" id="btn-login" data-auth-modal-open>login</button>
    <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="./images/symbol-defs.svg#sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой" />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Иконка луны">
      <use href="./images/symbol-defs.svg#moon"></use>
    </svg>
  </div>
    <div class=" header__wrapper">
      <a href="#" class="link logo">
        <span class="logo__icon"></span>
        <span class="logo__label">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="list nav__list">
          <li class="nav__item js-home">
            <button type="button" class="nav__btn current" id="btn-home">Home</button>
          </li>
          <li class="nav__item js-lib">
            <button type="button" class="nav__btn" id="btn-library">My library</button>
          </li>
        </ul>
      </nav>
    </div>
    <form action="" class="header-form">
      <input class="header-form__input" type="text" name="query" placeholder="Search movies">
      <button type="button" class="header-form__button"></button>
    </form>
    <ul class="library__list visually-hidden list">
      <li class="library__item">
        <button class="btn__watched" id="btn-watched" type="button">
          Watched</button>
      </li>
      <li class="library__item">
        <button class="btn__queue" id="btn-queue" type="button">
          Queue</button>
      </li>
    </ul>
  </div>

</header>