<div id="modal-film" class="modal-film is-open">
    <button type="button" class="close__button" data-action="close-btn-modal">
        <svg class="social-list__icon" width="30" height="30">
            <use href="./images/symbol-defs.svg#icon-close-button"></use>
        </svg>
    </button>
    <div class="modal-film-container">
       <div class="movie-container-film"> </div>
    <div class="btn-container">
    <button class="btn-watched button-add" type="button">add to Watched</button>
    <button class="btn-queue button-add" type="button">add to queue</button>
    </div>
    </div>
</div>