<div class="modals visually-hidden">
    <include src="./partials/button-close.html"></include>
    <div id="modal-film" class="modal-film visually-hidden">
        <div class="modal-film-container">
            <div class="movie-container-film"> </div>
            <div class="btn-container">
                <button class="btn-watched button-add" type="button">add to Watched</button>
                <button class="btn-queue button-add" type="button">add to queue</button>
            </div>
        </div>
    </div>
    <div class="modal-trailer visually-hidden">
        <div class="modal-trailer-container"></div>
    </div>
</div>