<div id="modal-film" class="modal-film is-open container">
    <button type="button" class="close__button" data-action="close-btn-modal">
        <svg class="social-list__icon" width="14" height="14">
            <use href="./images/symbol-defs.svg#close-btn"></use>
        </svg>
        <!-- <svg class="close-btn_icon" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 8L22 22" stroke="black" stroke-width="2" />
            <path d="M8 22L22 8" stroke="black" stroke-width="2" />
        </svg> -->
    </button>
    <div class="modal-film-container"></div>
</div>