<div class="notification-container">
    <div class="error visually-hidden">
        <p class="error-text">Search result not successful. Enter the correct movie name!</p>
        <img class="error-image" src="./images/notification/error.png" alt="error 404">
    </div>
    <div class="empty-search visually-hidden">
        <p class="empty-search-text">Please enter the movie name!</p>
        <img class="empty-search-image" src="./images/notification/empty-search.png" alt="empty list">
    </div>
    <div class="watched-queue visually-hidden">
        <p class="watched-queue-text">Ooops... Your list is empty!</p>
        <img class="watched-queue-image" src="./images/notification/watched-queue.png" alt="your list is empty">
    </div>
</div>
