<div class="notification-container">
    <div class="error visually-hidden">
        <p class="error-text">Search result not successful. Enter the correct movie name!</p>
        <img src="./images/notification/error.png" alt="error 404">
    </div>
        <div class="empty-search visually-hidden">
            <p class="empty-search-text">Search result not successful. Enter the correct movie name!</p>
            <img src="./images/notification/empty-search.png" alt="empty list">
        </div>
</div>
<!-- visually-hidden -->