<a class="pagination__link link pagination__link-arrow" href="#">
  <svg height="40" width="40">
    <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
  </svg>
</a>
<ul class="pagination__list list">
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">1</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">...</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">13</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">14</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link pagination__link-current" href="#">15</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">16</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">17</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">...</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">20</a>
  </li>
</ul>
<a class="pagination__link link pagination__link-arrow" href="#">
  <svg height="40" width="40">
    <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
  </svg>
</a>
