<div class="pagination__wrapper pagination__listener-js">
  <a class="pagination__link link pagination__link-arrow arrow-left-js" href="#" data-arrow-left>
    <svg height="16" width="16">
      <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
    </svg>
  </a>
  <ul class="pagination__list list pagination__wrapper-js"></ul>
  <a class="pagination__link link pagination__link-arrow arrow-right-js" href="#" data-arrow-right>
    <svg height="16" width="16">
      <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
  </a>
</div>
