
{{#each this}}
 <li class="pagination__item item">
    <a class="pagination__link link" href="#">1</a>
  </li>
 <li class="pagination__item item">
    <a class="pagination__link link" href="#">2</a>
  </li>
 <li class="pagination__item item">
    <a class="pagination__link link" href="#">3</a>
  </li>
 <li class="pagination__item item">
    <a class="pagination__link link" href="#">4</a>
  </li>
 <li class="pagination__item item">
    <a class="pagination__link link" href="#">5</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">...</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">13</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">14</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link pagination__link-current" href="#">15</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">16</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">17</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">...</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">20</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">21</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">22</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">23</a>
  </li>
  <li class="pagination__item item">
    <a class="pagination__link link" href="#">24</a>
  </li>
{{/each}} 