.is-open {
  opacity: 1;
  pointer-events: initial;
}

.team-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: $team-bg-color;

  @media screen and (min-width: $desktop) {
    padding-bottom: 40px;
  }
}

.team__modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  outline: none;
  cursor: pointer;

  background-color: $main-orange-color;

  transform: rotateZ(360deg);
  transition: transform $anim-duration $anim-timing-function,
    color $anim-duration $anim-timing-function;

  &:hover {
    transform: rotateZ(0deg);
  }
}

.team__modal-icon {
  width: 14px;
  height: 14px;
}

.team__modal-title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.team__modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  color: $main-text-color;
}

.team__name {
  justify-content: center;
  color: $main-orange-color;
}

.team__description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.team__information-wrapper {
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    padding: 0;
    margin-top: 15px;
  }
}

.team__modal-list {
  width: 743px;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
  }
}

.team__modal-item {
  border-radius: 43px;

  @media screen and (min-width: $tablet) {
    margin-bottom: unset;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 3);
  }
}

.team__photo {
  margin: auto;
  width: 280px;
  border-radius: 43px;

  @media screen and (min-width: $tablet) {
    width: 340px;
  }

  @media screen and (min-width: $desktop) {
    width: unset;
  }
}

.team__photo-wrapper {
  position: relative;
  overflow: hidden;

  &:hover .team__ovarlay-wrapper,
  &:focus .team__ovarlay-wrapper {
    transform: translateX(0%);
    overflow: unset;
  }
}

.team__ovarlay-wrapper {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  overflow: auto;
  top: 0;
  left: 0;
  padding-top: 280px;
  transition: transform $anim-duration $anim-timing-function;

  @media screen and (min-width: $tablet) {
    padding-top: 350px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
  }
}

.team__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__social-item {
  margin-left: 10px;
  margin-right: 10px;
}

.team__social-link {
  background-color: transparent;
  border-radius: 50%;

  &:hover .team__social-icon,
  &:focus .team__social-icon {
    fill: $accent-orange-color;
    transition: fill $anim-duration $anim-timing-function;
  }
}

.team__social-icon {
  width: 50px;
  height: 50px;
  fill: $team-social-color;
  background-color: $team-sicial-bg-color;
  border-radius: 29%;

  @media screen and (min-width: $desktop) {
    width: 34px;
    height: 34px;
  }
}
