.button {
  position: absolute;
  @extend %flex__center;
  color: $title-color;
  background-color: $main-background-color;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $main-orange-color;
  cursor: pointer;
  z-index: 1020;
  transform: rotateZ(360deg);
  transition: transform $anim-duration $anim-timing-function,
    color $anim-duration $anim-timing-function;

  .icon {
    @include settings__icons($main-orange-color, 18px, 18px);
  }

  &:hover {
    color: $main-orange-color;
    transform: rotateZ(0deg);
  }

  @media screen and (max-width: calc($desktop - 1px)) {
    top: 8px;
    right: 8px;
  }

  @media screen and (min-width: $desktop) {
    top: calc(50% - 170px);
    left: calc(50% + 165px);
  }
}

.button-submit {
  background-color: $main-background-color;
  color: $main-orange-color;
  padding: 10px 20px;
  margin: 0 auto;
  width: 140px;
  box-shadow: 0px 4px 4px $main-orange-color;
  border-radius: 4px;
  transition: background-color $anim-duration $anim-timing-function;

  &:focus,
  &:hover {
    background-color: $main-orange-color;
    color: $main-text-color;
    box-shadow: 0px 4px 4px $main-background-color;
    cursor: pointer;
  }
}
.button-add {
  font-size: 12px;
  width: 112px;
  height: 44px;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  background: $main-text-color;
  border-radius: 5px;
  box-shadow: 0px 4px 4px $main-orange-color;
  @media screen and (min-width: $tablet) {
    width: 125px;
    padding: 14px 10px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}
.button-add:hover,
.button-add:focus {
  color: $main-text-color;
  background: $main-orange-color;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px $main-background-color;
}
