.close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.close-btn_icon {
  width: 14px;
  height: 14px;
  fill: $title-color;
}
.modal-film {
  position: absolute;
  padding: 50px 30px 40px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 280px;
  background-color: $main-text-color;
  opacity: 0;
}
.is-open {
  opacity: 1;
  pointer-events: initial;
}
