//  Button close svg
.close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

//modal wimdow
.modal-film {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 280px;

  @media screen and (max-width: $tablet) {
    padding: 50px 20px 40px 20px;
    width: calc(100% - 2 * 10px);
  }
  @media screen and (min-width: $tablet) {
    max-width: 618px;
    padding: 42px 30px 40px 28px;
    width: calc(100% - 2 * 15px);
  }
  @media screen and (min-width: $desktop) {
    max-width: 882px;
    padding: 50px 30px 40px 30px;
    width: calc(100% - 2 * 15px);
  }

  background-color: $main-text-color;
  opacity: 0;
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.movie-container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  color: $title-color;
  font-size: 12px;
}

.movie-image {
  max-width: 240px;
  border-radius: 5px;
  @media screen and (min-width: $mobile) and (max-width: $tablet - 1px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 264px;
    max-height: 374px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 396px;
    max-height: 478px;
  }
}

.tablet-movie-container {
  @media screen and (min-width: $tablet) {
    margin-left: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.movie-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie-flex {
  display: flex;
  margin-bottom: 20px;
}

.movie-flex__list {
  list-style: none;
}

.movie-flex__list:not(:last-child) {
  margin-right: 40px;
  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.movie-flex__title,
.movie-flex__value {
  line-height: 1.33;
}

.movie-flex__title {
  color: $third-text-color;
}

.movie-flex__title:not(:last-child),
.movie-flex__value:not(:last-child) {
  margin-bottom: 10px;
}

.movie-flex__vote {
  padding: 1px 10px;
  background: $main-orange-color;
  color: $main-text-color;
  border-radius: 5px;
}

.movie-flex__votes {
  padding: 1px 4px;
  background: $main-background-color;
  border-radius: 5px;
}

.movie-flex__slash {
  color: $third-text-color;
  margin-right: 2px;
}

.movie-title__desc {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.movie-overview {
  margin-bottom: 20px;
  line-height: 1.67;
}
