.footer {
  height: 77px;

  @media screen and (min-width: $mobile-min) {
    height: 100px;
  }
}

.footer-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;

  @media screen and (min-width: $mobile-min) {
    flex-wrap: wrap;
  }
}

.footer-cont__txt {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.19;
  color: inherit;

  @media screen and (min-width: $mobile-min) {
    font-size: 13px;
    line-height: 1.23;
  }
}

.footer-cont__text {
  display: flex;
}

.footer-container__text {
  @media screen and (min-width: $mobile-min) {
    padding-bottom: 10px;
    padding-right: 5px;
  }
}

.footer-container__text {
  @media screen and (min-width: $mobile-min) {
    padding-bottom: 10px;
  }
}

.icon-heart {
  margin: 0 10px;
}
