.footer{
    background: #F7F7F7;
    height: 77px;
    }
    
.footer-cont{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    }
    
.footer-cont__txt1,
.footer-cont__txt2,
.footer-cont__txt3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #545454; 
    position: static;
    }

.footer-cont__txt3{
    position: static;

    &::after{
    position: absolute;
    display: block;
    content: "";
    width: 117px;
    height: 1px;
    background-color: #545454; 
    border-radius: 2px;
    margin-left: 25px;
    }
    }

.footer-cont__text{
    display: flex;
    }
    
.icon-heart{
    @include settings__icons($main-orange-color, 18px, 18px);
        margin-left: 10px;
        margin-right: 10px;
}

@media screen and (max-width: 320px) {
.footer{
    height: 100px;
}

.footer-cont{
    flex-wrap: wrap;
}
.footer-cont__txt1,
.footer-cont__txt2,
.footer-cont__txt3{
    font-family: Roboto;
    font-size: 13px;
    line-height: 16px;
}

.footer-container__text{
    padding-bottom: 10px;
}
        
.footer-cont__txt3{
    &::after{
        width: 97px;
        margin-left: 20px;
       }
    }
}
    
 