.footer{
    background: $main-background-color;
    height: 77px;
    }
    
.footer-cont{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    }
    

.footer-cont__txt
{
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.19;
    color: $secondary-text-color; 
    
    }

.after{
    position: static;

    &::after{
    position: absolute;
    display: block;
    content: "";
    width: 117px;
    height: 1px;
    background-color: $secondary-text-color; 
    border-radius: 2px;
    margin-left: 25px;
    }
}

.footer-cont__text{
    display: flex;
    }
    
.icon-heart{
    @include settings__icons($main-orange-color, 18px, 18px);
        margin-left: 10px;
        margin-right: 10px;
}

.link {
    text-decoration: none;
  }

@media screen and (max-width: $mobile-min) {
.footer{
    height: 100px;
}

.footer-cont{
    flex-wrap: wrap;
}

.footer-cont__txt
{
    font-size: 13px;
    line-height: 1.23;
}

.footer-container__text{
    padding-bottom: 10px;
}
        
.after{
    &::after{
        width: 97px;
        margin-left: 20px;
    }
}
}
    
 