.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.pagination__wrapper{
  display: flex;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__item {
  & + & {
    margin-left: 3px;
  }
}

.pagination__item > .pagination__link-current {
  width: 40px;
  height: 40px;
  background-color: $accent-orange-color;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: inherit;
  font-size: 12px;
  line-height: 1.33;
  transition-property: color, background-color;
  transition-duration: $anim-duration;
  transition-timing-function: $anim-timing-function;

  &:hover,
  &:focus,
  &:active {
    color: $main-text-color;
    background-color: $accent-orange-color;
  }
}

.pagination__link-current {
  color: $main-text-color;
  width: 40px;
  height: 40px;
}

.pagination__link-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-color: inherit;
  background-color: $main-background-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $main-background-color;
    transform: scale(1.3);
  }
}