body {
  font-family: $font-family;
  font-weight: 500;
  line-height: calc(20 / 12 * 100%);
  letter-spacing: 0.08em;
  // background-color: $main-background-color;
  // color: $main-text-color;
}

body.modal-open {
  overflow: hidden;
}
