body {
  font-family: $font-family;
  font-weight: 500;
  line-height: calc(20 / 12 * 100%);
  letter-spacing: 0.08em;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 18px;
  height: 8px;
  background-color: #948989;
}

::-webkit-scrollbar-thumb {
  background-color: $main-text-color;

  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $accent-orange-color;
}
